.sirrtech__header {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  width: 100%;
  background: var(--white);
  border-radius: 20px;
  padding: 20px 15px;
  align-items: center;
  max-width: 1280px;
}
