.sirrtech__header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: var(--white);
  border-radius: 20px;
  padding: 20px 15px;
  align-items: center;
  max-width: 1280px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
