.sirrtech__missions {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 70px;
}

.sirrtech__missions__title {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  row-gap: 15px;
}

.sirrtech__title--colored {
  background: var(--text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 30%;
}

.sirrtech__missions__title-text {
  font-family: var(--body);
  color: var(--primary);
  font-weight: var(--medium);
  width: 60%;
  line-height: 1.6;
}

.sirrtech__missions__cards {
  display: flex;
  column-gap: 30px;
}
