.sirrtech__missions {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 70px;
}

.sirrtech__missions__title {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  row-gap: 15px;
}

.sirrtech__missions__title-text {
  font-family: var(--body);
  color: var(--primary);
  font-weight: var(--medium);
  width: 60%;
  line-height: 1.6;
}

.sirrtech__missions__cards {
  display: flex;
  column-gap: 30px;
}

.sirrtech__card-information {
  background: var(--background);
  max-width: 400px;
  width: 100%;
  height: 380px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sirrtech__card-information__description {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 100%;
}

.sirrtech__card-information__description-title {
  font-size: 36px;
  line-height: 1.3;
}
.sirrtech__card-information__description-text {
  height: 20px;
  font-weight: 500;
}

.sirrtech__card-information__contact {
  background: var(--white);
  border-radius: 10px;
  width: fit-content;
  padding: 7px 12px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.sirrtech__card-information__contact svg {
  transition: transform 0.4s ease-in-out;
  transform-box: fill-box;
  transform-origin: center;
}
.sirrtech__card-information__contact:hover svg {
  transform: translateX(7px);
}

.sirrtech__card-information__contact-text {
  color: var(--cta);
  font-weight: 700;
  text-transform: uppercase;
}
