.sirrtech__services {
  background: var(--background);
  width: 100%;
  padding: 50px 30px;
  display: flex;
  justify-content: center;
}

.sirrtech__serivces__title {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sirrtech__services__subtitle-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.sirrtech__services__subtitle {
  font-size: 25px;
}

.sirrtech__services__text {
  font-family: var(--body);
  font-weight: var(--medium);
  line-height: 1.6;
  font-size: 18px;
}
