@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary: #013550;
  --secondary: #196182;
  --cta: #1b3f62;
  --background: linear-gradient(
    180deg,
    rgba(1, 53, 83, 1) 25%,
    rgba(27, 63, 98, 1) 50%,
    rgba(26, 86, 119, 1) 75%,
    rgba(22, 144, 167, 1) 100%
  );
  --white: #ffffff;
  --heading: "DM Sans", sans-serif;
  --body: "Inter", sans-serif;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --extra-bold: 800;
  --text-color: linear-gradient(
    180deg,
    rgba(1, 53, 83, 1) 25%,
    rgba(26, 86, 119, 1) 66%,
    rgba(2, 144, 167, 1) 100%
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  background: var(--background);
  height: 100vh;
  width: 100vw;
}

.sirrtech__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.sirrtech__hero {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 30px 30px 0;
  height: 100vh;
}
